body{
    text-align: center;
    background-color: rgb(41, 41, 41);
}
h1{
    color: aliceblue;
}
input{
    border: 0;
    font-size: 100%;
    border-radius: 5px;
}
input:hover{
    cursor: pointer;
}
.sim{
    background-color: green;
    color: aliceblue;
    transition: transform 0.3s ease-in-out;
}
.nao{
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    transition: transform 0.7s ease-in-out;
}
.sim:hover{
    transform: translateY(-3px);
}
.nao:hover{
    transform: translateY(-3px);
}
footer{
    text-align: center;
}