body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative;
    width: 80vmin;
    height: 60vmin;
    border: 1px solid #000;
    background-color: chocolate;
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.75vmin;
    height: 3.75vmin;
}

.block {
    position: absolute;
    width: 6.25vmin;
    height: 6.25vmin;
    background-color: chocolate;
}

#endBlock {
    position: absolute;
    width: 6.25vmin;
    height: 6.25vmin;
    background-color: green;
    bottom: 0;
    right: 0;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vmin;
}

.controls button {
    width: 6.25vmin;
    height: 6.25vmin;
    margin: 0.625vmin;
    opacity: 0;
}

.control-row {
    display: flex;
}

@media (max-width: 1300px) {
    #container {
        width: 40vmin;
        height: 30vmin;
    }

    #player, .block, #endBlock, .controls button {
        width: 3.125vmin;
        height: 3.125vmin;
    }

    .controls {
        margin-left: 1vmin;
    }

    .controls button {
        margin: 0.3125vmin;
    }
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
